---
layout: default
title: Home
---
<div id="#top"></div>
<!-- *** SLIDER STARTS *** -->
	<div class="fullwidthbanner-container home" style="visibility:hidden">
		<div class="fullwidthbanner">
			<ul>
			  <li data-transition="fade" data-slotamount="10" data-masterspeed="300" >

						<img src="/files/images/benevolent_sun.jpg" alt="">

						<div class="caption lft ltt"
							 data-x="75"
							 data-y="280"
							 data-speed="600"
							 data-start="800"
							 data-easing="easeOutExpo" ><img src="/assets/images/white_line.jpg" alt="">
						</div>

						<div class="caption lft ltt"
							 data-x="800"
							 data-y="280"
							 data-speed="600"
							 data-start="1000"
							 data-easing="easeOutExpo" ><img src="/assets/images/white_line.jpg" alt="">
						</div>

						<div class="caption lft ltt style1"
							 data-x="475"
							 data-y="280"
							 data-speed="600"
							 data-start="1200"
							 data-easing="easeOutExpo" >PETE MICHAUD IS
						</div>
						<div class="caption lfb ltb style1b"
							 data-x="130"
							 data-y="380"
							 data-speed="600"
							 data-start="1500"
							 data-easing="easeOutExpo" >INTO MAKING GAMES
						</div>
						<div class="caption lfb ltb grown_man_style"
							 data-x="130"
							 data-y="470"
							 data-speed="600"
							 data-start="1700"
							 data-easing="easeOutExpo" >MORE THAN A GROWN MAN PROBABLY SHOULD BE
						</div>

						<div class="caption lfb ltb"
							 data-x="75"
							 data-y="535"
							 data-speed="600"
							 data-start="1800"
							 data-easing="easeOutExpo" ><img src="/assets/images/white_big_line.jpg" alt="">
						</div>

				</li>

				<!--<li data-transition="fade" data-slotamount="10" data-masterspeed="300" >-->

						<!--<img src="http://placehold.it/1400x700" alt="">-->

						<!--<div class="caption lft ltt"-->
							 <!--data-x="75"-->
							 <!--data-y="280"-->
							 <!--data-speed="600"-->
							 <!--data-start="800"-->
							 <!--data-easing="easeOutExpo" ><img src="/assets/images/white_line.jpg" alt="">-->
						<!--</div>-->

						<!--<div class="caption lft ltt"-->
							 <!--data-x="800"-->
							 <!--data-y="280"-->
							 <!--data-speed="600"-->
							 <!--data-start="1000"-->
							 <!--data-easing="easeOutExpo" ><img src="/assets/images/white_line.jpg" alt="">-->
						<!--</div>-->

						<!--<div class="caption lft ltt style1"-->
							 <!--data-x="425"-->
							 <!--data-y="280"-->
							 <!--data-speed="600"-->
							 <!--data-start="1200"-->
							 <!--data-easing="easeOutExpo" >helping you since 2002-->
						<!--</div>-->
						<!--<div class="caption lfb ltb style1b"-->
							 <!--data-x="70"-->
							 <!--data-y="360"-->
							 <!--data-speed="600"-->
							 <!--data-start="1500"-->
							 <!--data-easing="easeOutExpo" >A Higher Standard in-->
						<!--</div>-->
						<!--<div class="caption lfb ltb style1b"-->
							 <!--data-x="140"-->
							 <!--data-y="460"-->
							 <!--data-speed="600"-->
							 <!--data-start="1700"-->
							 <!--data-easing="easeOutExpo" >Digital Marketing-->
						<!--</div>-->

						<!--<div class="caption lfb ltb"-->
							 <!--data-x="75"-->
							 <!--data-y="535"-->
							 <!--data-speed="600"-->
							 <!--data-start="1800"-->
							 <!--data-easing="easeOutExpo" ><img src="/assets/images/white_big_line.jpg" alt="">-->
						<!--</div>-->

				<!--</li>-->

  			 <!--<li data-transition="fade" data-slotamount="10" data-masterspeed="300" >-->

						<!--<img src="http://placehold.it/1400x700" alt="">-->

						<!--<div class="caption lft ltt"-->
							 <!--data-x="75"-->
							 <!--data-y="280"-->
							 <!--data-speed="600"-->
							 <!--data-start="800"-->
							 <!--data-easing="easeOutExpo" ><img src="/assets/images/white_line.jpg" alt="">-->
						<!--</div>-->

						<!--<div class="caption lft ltt"-->
							 <!--data-x="800"-->
							 <!--data-y="280"-->
							 <!--data-speed="600"-->
							 <!--data-start="1000"-->
							 <!--data-easing="easeOutExpo" ><img src="/assets/images/white_line.jpg" alt="">-->
						<!--</div>-->

						<!--<div class="caption lft ltt style1"-->
							 <!--data-x="490"-->
							 <!--data-y="280"-->
							 <!--data-speed="600"-->
							 <!--data-start="1200"-->
							 <!--data-easing="easeOutExpo" >we don't bite-->
						<!--</div>-->
						<!--<div class="caption lfb ltb style1b"-->
							 <!--data-x="245"-->
							 <!--data-y="360"-->
							 <!--data-speed="600"-->
							 <!--data-start="1500"-->
							 <!--data-easing="easeOutExpo">We know how-->
						<!--</div>-->
						<!--<div class="caption lfb ltb style1b"-->
							 <!--data-x="390"-->
							 <!--data-y="460"-->
							 <!--data-speed="600"-->
							 <!--data-start="1700"-->
							 <!--data-easing="easeOutExpo" >to do it-->
						<!--</div>-->

						<!--<div class="caption lfb ltb"-->
							 <!--data-x="75"-->
							 <!--data-y="535"-->
							 <!--data-speed="600"-->
							 <!--data-start="1800"-->
							 <!--data-easing="easeOutExpo" ><img src="/assets/images/white_big_line.jpg" alt="">-->
						<!--</div>-->

				<!--</li>-->
			</ul>
			<div class="tp-bannertimer"></div>
		</div>
	</div>
	<!-- *** SLIDER ENDS *** -->

<!-- *** WELCOME START *** -->
<div class="welcome">
	<div class="container">
		<div class="row">
			<div class="span3"><div class="welcome_msg"><span>Work Me</span> Senior,<br /> Pay Me Junior</div></div>
			<div class="span9"><p class="welcome_text">
                In a lot of ways I'm an ideal senior dev candidate. Deep experience across a lot of different companies,
                technologies, and platforms. I've worked with scrappy startups, I've worked with Fortune 100s. I'm an
                excellent trench grunt, and a seasoned captain. I can move seamlessly between building technology and
                talking to customers or investors.
                </p>
                <p class="welcome_text">
                I'm actually a junior though. All my professional experience is in business and web applications. I'm
                ready to come home to where my heart is: games. But I've never worked in the industry, which means you
                have one hell of an arbitrage opportunity: work me like a senior, pay me like a junior.
            </p></div>
		</div><!--row -->
	</div><!--container -->
</div><!--welcome -->
<!-- *** WELCOME END *** -->

<!-- *** BLOG START *** -->
<div id="blog" class="section gray">
<div class="container">
    <div class="row">
        <div class="span12">
            <h1 class="page_title">Blog Updates</h1>
            <h2 class="page_subtitle">[Hilarious Subtitle Goes Here]</h2>
            <div class="page_line"></div>
        </div>

        <div class="clear"></div>
        <div class="divider"></div>

        <div class="blog_container front_page">
            {% for post in site.posts limit:3 %}
            <div class="span4">
                <div class="blog-item">
                    {% if post.hero_image %}
                    <div class="img-container-blog" style="background-image: url({{ site.blog_image_path }}{{ post.hero_image }});">
                        {% else %}
                        <div class="img-container-blog" style="background-image: url(http://lorempixel.com/500/500/abstract/);">
                            {% endif %}
                            <a href="{{ post.url }}" class="hero_click"></a>
                            <div class="the-author-img">
                                <img src="/assets/images/author.png" alt="Pete Michaud">
                            </div>
                        </div>
                        <div class="blog-body">
                            <div class="the-title"><h1><a href="{{ post.url }}">{{ post.title }}</a></h1></div>
                            {{ post.excerpt }}
                            <div class="metas">
                                <div class="the-date"><a href="{{ post.url }}"><span class="calendar gray icon"></span>{{ post.date | date: "%B %d, %Y" }}</a></div>
                                <div class="the-comments"><a href="{{ post.url }}#disqus_thread">
                                    <span class="comments gray icon"></span>#
                                </a></div>
                                <a href="{{ post.url }}" class="read_more_small"><i class="fa_icon icon-plus"></i></a>
                                <div class="clear"></div>
                            </div><!--metas-->
                        </div>
                    </div><!--blog-item-->
                </div><!--span4-->
                {% endfor %}
            </div><!--blog-container-->

        </div><!--row-->
    </div><!--container-->
</div>
<!-- *** BLOG START *** -->


<!-- *** ABOUT US START *** -->
<div id="about_us" class="section">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="page_title">About Me</h1>
                <h2 class="page_subtitle">The man behind the legend</h2>
                <div class="page_line"></div>

			</div>

			<div class="span12">
				<div class="about_container">
					<div class="over_about">
						<div class="over_container">
							<h1>I Love Making Games So Much It Gives Me Indigestion</h1>
							<p>
                                I literally get butterflies in my stomach when I realize I have 16 uninterrupted
                                hours to geek out on a game project.
                            </p>
						</div>
					</div>
					<img src="files/images/pete_couch.jpg" alt="Pete is capable of relaxing like a normal humanoid">
				</div>
			</div>

            <div class="span6">
                <h3>My Path to Games</h3>
                <p>
                    The thing you have to understand about me is that I do <em>a lot of things</em>.
                </p>
                <p>
                    I've had a long career in software development (mostly on the web), but I started out in graphic
                    design. Somewhere along the way I built an encyclopedic knowledge of psychology. All the while I've
                    been painting. I was part of an improv comedy troupe that had two shows a week downtown. I made some
                    money writing a bunch of books, both fiction and nonfiction.
                </p>
                <p>
                    But <em>games</em> is what I've always come back to, they are my <strong>forbidden love</strong>.
                    My stomach does flipflops of joy when I'm making games, but any game project I work on immediately
                    <em>takes over my brain</em>. I dream about it. I'm thinking about the timing for the hoisting
                    mechanic so much that I forget to eat sometimes. Forget trying to carry on a Real Job&trade; while
                    doing a game on the side.
                </p>
                <p>
                    Creating games is so addictive to me, that I refused to allow myself to do it.
                    <em>"Why not work in the industry?"</em> That question has been on my mind for two decades.
                </p>

            </div><!--span6-->

			<div class="span6">
				<h3>&nbsp;</h3>
                <p>
                    I told myself games were too trivial; there are real problems in the world, and I want to help solve
                    those. Plus I was terrified of the notoriously bad working conditions.
                </p>
                <p>
                    <strong>Three things changed:</strong>
                </p>
                <ol class="p">
                    <li>
                        I realized that games could be more. The technology that drives games <em>could</em> be used to
                        build a better world.
                    </li>
                    <li>
                        I realized that smaller studios were not sweatshops, and any overtime I pulled would be for love.
                    </li>
                    <li>
                        I just *can't not* do it anymore. The pang of sadness every time I thought of developing games
                        became just too much to bear.
                    </li>
                </ol>
                <p>
                    My mind is clear now, the time is long past due, games here I come.
                </p>

				<div class="button_rec uppercase"><a href="/resume">Read my Full Résumé</a></div>

			</div><!--span6-->
		</div>
	</div>
</div><!--section-->
<!-- *** ABOUT US END *** -->

<!-- *** PARALLAX START *** -->
<div class="parallax" style="background-image: url(files/images/cosmic_bloom.jpg);">
	<div class="parallax_over">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="parallax_container">
						<h1>Pete Facts</h1>
                        <h2>&lt;reply 'ou812UkQb74cmW04Xbqnm8ohl' to cancel&gt;</h2>
						<div class="row">

							<!--SLIDE CAROUSEL START -->
							<div class="slidewrap">
								<div class="slider">
									<div class="slide">
										<!--YOUR FIRST CAROUSEL CONTENT GOES HERE-->
											<div class="parallax_colum4">
												<div class="parallax_column_container">
													<div class="circle_icon"><i class="fa_icon icon-code icon-4x"></i></div>
													<h2>18 Years Programming</h2>
													<p class="display">
                                                        I have deep experience writing software with a variety of
                                                        languages and platforms.
                                                    </p>
												</div>
											</div>

											<div class="parallax_colum4">
												<div class="parallax_column_container">
													<div class="circle_icon"><i class="fa_icon icon-book icon-4x"></i></div>
													<h2>30+ Books Published</h2>
													<p class="display">
                                                        I have written and sold books ranging from medical texts,
                                                        thrillers, textbooks, and even a memoir.
													</p>
												</div>
											</div>

											<div class="parallax_colum4">
												<div class="parallax_column_container">
													<div class="circle_icon"><i class="fa_icon icon-pencil icon-4x"></i></div>
													<h2>Semipro Artist</h2>
													<p class="display">
                                                        My art has been featured in galleries, charity auctions, online,
                                                        and is carried in local stores.
                                                    </p>
												</div>
											</div>
										<!--YOUR FIRST CAROUSEL CONTENT END HERE-->
									</div>
									<!--new slide would go here-->
								</div><!--slider-->
							</div><!--slidewrap-->
							<!--SLIDE CAROUSEL END -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--parallax over-->
</div>
<!-- *** PARALLAX END *** -->

<!-- *** SERVICES START *** -->
<div id="skills" class="section gray">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="page_title">Skills</h1>
				<h2 class="page_subtitle">To pay the bills</h2>
				<div class="page_line"></div>
			</div>

			<div class="clear"></div>
			<div class="divider"></div>

			<div class="services_icon_container hi-icon-effect-1 hi-icon-effect-1a">
				<div class="span6">
					<div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon icon-code icon-3x"></i></a></div>
					<h2 class="uppercase">Software Development</h2>
                    <p>
                        I have a broad range of experience writing huge applications, both Windows-based, and Unix based,
                        both proprietary and open source. Much of my recent work has been in the ruby community where
                        I've contributed to major open source projects.
                    </p>
				</div><!--span6-->
				<div class="span6">
					<div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon icon-tint icon icon-3x"></i></a></div>
					<h2 class="uppercase">Concept Art</h2>
					<p>
                        I specialize in 2D environmental art, but I'm also solid with figures and portraits. I'm
                        dangerous with 3DS Max, know enough about animation to get good if I practice. I also love
                        creating low resolution assets like pixel art.
					</p>
				</div><!--span6-->
				<div class="clear"></div>


				<div class="span6">
					<div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon icon-paste icon-3x"></i></a></div>
					<h2 class="uppercase">Writing &amp; Editing</h2>
                    <p>
                        I have a deep, working knowledge of narrative structure in a variety of formats including novels
                        and movie scripts. When I'm not world building or spinning dialog, I have a knack for accessible
                        and entertaining technical writing.
                    </p>
				</div><!--span6-->
				<div class="span6">
					<div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon icon-cogs icon-3x"></i></a></div>
					<h2 class="uppercase">Mathematical Modelling</h2>
					<p>
                        I audited a master's degree in mathematics for funsies, which is perhaps my crowning alpha nerd
                        achievement. I have deep intuition about modelling and problem solving, and I'm familiar with
                        non-euclidean geometries, calculus, and linear algebra.
                    </p>
				</div><!--span6-->
				<div class="clear"></div>


				<div class="span6">
					<div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon  icon-usd icon-3x"></i></a></div>
					<h2 class="uppercase">Experienced Entrepreneur</h2>
					<p>
                        I started a tutoring company when I was 16 that paid for college. I started a software
                        consultancy at 18 that bought my first house. I retired on the income from a publishing company
                        I sold at 25. I was born to build things, including companies.
					</p>
				</div><!--span6-->
				<div class="span6">
					<div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon icon-comments icon-3x"></i></a></div>
					<h2 class="uppercase">Human Psychology</h2>
                    <p>
                        My other love is psychology. I have a strong knowledge of human dopaminergic
                        reward pathways, and high order motivation factors. I can use my powers to
                        communicate with my team like a boss, or to manipulate the shit out of hapless players.
                    </p>
				</div><!--span6-->
				<div class="clear"></div>

			</div><!--icon_container-->

		</div>
	</div>
</div><!--skills-->
<!-- *** SKILLS END *** -->

<!-- *** PARALLAX START *** -->
<div class="parallax" style="background-image: url(/files/images/fractal-back.jpg);">
    <div class="parallax_over">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="parallax_container">
                        <!--SLIDE CAROUSEL START -->
                        <div class="slidewrap2">
                            <div class="slider">
                                <div class="slide">
                                    <!--YOUR FIRST CAROUSEL CONTENT GOES HERE-->
                                    <div class="rectangle">
                                        <h1>Interested?</h1>
                                        <p>
                                            I'm looking for an awesome team to work with. If you'd like to get
                                            in touch about working with me, I want to hear from you.
                                            <a href="#contact">Click here to get in touch below</a>, or just
                                            keep scrolling for more monocular goodness.
                                        </p>
                                    </div>
                                    <!--YOUR FIRST CAROUSEL CONTENT END HERE-->
                                </div>
                            </div><!--slider-->
                        </div><!--slidewrap-->
                        <!--SLIDE CAROUSEL END -->
                    </div>
                </div>
            </div>
        </div>
    </div><!--parallax over-->
</div>
<!-- *** PARALLAX END *** -->

<!-- *** PORTFOLIO START *** -->
<div id="portfolio" class="section gray">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="page_title">Portfolio</h1>
				<h2 class="page_subtitle">Proof is in the pudding</h2>
				<div class="page_line"></div>
			</div>
		</div><!--row-->
	</div><!--container-->
	<div class="portfolio-top"></div>




<div class="container">
	<div class="row">
		<div id="portfoliod">
		<div id="portfolioAjaxwrap">
			<div id="portfolioAjax" class="clearfix">
				<div id="portfolioAjaxControlls" class="clearfix">
					<a id="ajax_close" href="#"><span class="outer"></span><span class="inner"></span></a>
				</div><div class="clear"></div>
				<div id="portfolioData"></div>
			</div><!--portfolioAjax-->
		</div>
	</div><!--portfoliod-->
	</div>
</div>


		<section id="options" class="clearfix">
			<ul id="filters" class="clearfix">
				<li class="active"><a href="#" data-filter="*">All</a></li>
				<li><a href="#" data-filter=".concept">Concept Art</a></li>
				<li><a href="#" data-filter=".code">Code</a></li>
				<li><a href="#" data-filter=".writing">Writing</a></li>
			</ul>
		</section><!--options-->


<div id="container_portfolio" class="clickable variable-sizes clearfix">

	<div class="portfolio_item transition concept vertical" data-category="concept" >
			<div class="loop">
			<div class="img-container" style="background-image:url(/portfolio/guardian/thumb.jpg)">
				<div class="over" style="background-image:url(/portfolio/guardian/thumb-over.jpg)">
					<div class="details">
						<h4 class="title"><a class="ajax-trigger" href="/portfolio/guardian/"></a></h4>
					</div>
				</div>
			</div>
		</div><!--loop-->
	</div><!--portfolio item-->

	<div class="portfolio_item transition concept horizontal" data-category="concept">
			<div class="loop">
			<div class="img-container" style="background-image:url(/portfolio/benevolent_sun/thumb.jpg)">
				<div class="over" style="background-image:url(/portfolio/benevolent_sun/thumb-over.jpg)">
					<div class="details">
						<h4 class="title"><a class="ajax-trigger" href="/portfolio/benevolent_sun/"></a></h4>
					</div>
				</div>
			</div>
		</div><!--loop-->
	</div><!--portfolio item-->

	<div class="portfolio_item transition concept" data-category="concept">
			<div class="loop">
			<div class="img-container" style="background-image:url(/portfolio/cosmic_bloom/thumb.jpg)">
				<div class="over" style="background-image:url(/portfolio/cosmic_bloom/thumb-over.jpg)">
					<div class="details">
						<h4 class="title"><a class="ajax-trigger" href="/portfolio/cosmic_bloom/"></a></h4>
					</div>
				</div>
			</div>
		</div><!--loop-->
	</div><!--portfolio item-->

	<div class="portfolio_item transition concept big" data-category="concept">
			<div class="loop">
			<div class="img-container" style="background-image:url(/portfolio/labyrinth/thumb.jpg)">
				<div class="over" style="background-image:url(/portfolio/labyrinth/thumb-over.jpg)">
					<div class="details">
						<h4 class="title"><a class="ajax-trigger" href="/portfolio/labyrinth"></a></h4>
					</div>
				</div>
			</div>
		</div><!--loop-->
	</div><!--portfolio item-->

	<div class="portfolio_item transition code vertical" data-category="code">
			<div class="loop">
			<div class="img-container" style="background-image:url(http://placehold.it/500x500/990404/999999)">
				<div class="over" style="background-image:url(http://placehold.it/500x500/ff0404/ffffff)">
					<div class="details">
						<h4 class="title"><a class="ajax-trigger" href="/portfolio/suicide_ball"></a></h4>
					</div>
				</div>
			</div>
		</div><!--loop-->
	</div><!--portfolio item-->

    <div class="portfolio_item transition code vertical" data-category="code">
        <div class="loop">
            <div class="img-container" style="background-image:url(http://placehold.it/500x500/990404/999999)">
                <div class="over" style="background-image:url(http://placehold.it/500x500/ff0404/ffffff)">
                    <div class="details">
                        <h4 class="title"><a class="ajax-trigger" href="/portfolio/operation_damsel"></a></h4>
                    </div>
                </div>
            </div>
        </div><!--loop-->
    </div><!--portfolio item-->

    <div class="portfolio_item transition code vertical" data-category="code">
        <div class="loop">
            <div class="img-container" style="background-image:url(http://placehold.it/500x500/990404/999999)">
                <div class="over" style="background-image:url(http://placehold.it/500x500/ff0404/ffffff)">
                    <div class="details">
                        <h4 class="title"><a class="ajax-trigger" href="/portfolio/chakra"></a></h4>
                    </div>
                </div>
            </div>
        </div><!--loop-->
    </div><!--portfolio item-->

    <div class="portfolio_item transition code vertical" data-category="code">
        <div class="loop">
            <div class="img-container" style="background-image:url(http://placehold.it/500x500/990404/999999)">
                <div class="over" style="background-image:url(http://placehold.it/500x500/ff0404/ffffff)">
                    <div class="details">
                        <h4 class="title"><a class="ajax-trigger" href="/portfolio/kotiro"></a></h4>
                    </div>
                </div>
            </div>
        </div><!--loop-->
    </div><!--portfolio item-->

    <div class="portfolio_item transition code vertical" data-category="code">
        <div class="loop">
            <div class="img-container" style="background-image:url(http://placehold.it/500x500/990404/999999)">
                <div class="over" style="background-image:url(http://placehold.it/500x500/ff0404/ffffff)">
                    <div class="details">
                        <h4 class="title"><a class="ajax-trigger" href="/portfolio/source_of_magic"></a></h4>
                    </div>
                </div>
            </div>
        </div><!--loop-->
    </div><!--portfolio item-->

</div><!--container-portfolio-->


</div><!--portfolio-->
<!-- *** PORTFOLIO END *** -->


<!-- *** CONTACT START *** -->
<div id="contact" class="section">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="page_title">Hire Me</h1>
				<h2 class="page_subtitle">It's your lucky day! All this can be yours...</h2>
				<div class="page_line"></div>
				<div class="page_description">
                    I'm currently looking for an awesome and passionate team to rock my world, and whose world, in turn,
                    I intend to rock. I'm based in Austin, Texas, but I'm open to remote work with some travel. Please
                    let me make awesome things for you.
				</div>
			</div><!--span12-->
				<div id="response">
                	<form method="post" class="reply-input" action="send">
						<div class="span6">
                            <div class="input-block">
                                <input type="text" name="name" id="comment-name"
                                       required=""
                                       value="Your name (required)"
                                       onblur="if(this.value=='')this.value='Your name (required)'"
                                       onfocus="if(this.value=='Your name (required)')this.value=''"/>
                            </div>

                            <div class="input-block">
                                <input type="email" name="email" id="comment-email"
                                       required=""
                                       value="Your email (required)"
                                       onblur="if(this.value=='')this.value='Your email (required)'"
                                       onfocus="if(this.value=='Your email (required)')this.value=''"/>
                            </div>

                            <div class="input-block">
                                <input type="text" name="website" id="comment-url"
                                       value="Your website"
                                       onblur="if(this.value=='')this.value='Your website'"
                                       onfocus="if(this.value=='Your website')this.value=''"/>
                            </div>

                            <div class="clear"></div>

					    </div>

					<div class="span6">

						<div class="textarea-block">
							<textarea name="message" id="comment-message" cols="88" rows="8" required=""
                                      onblur="if(this.value=='')this.value='Your message'"
                                      onfocus="if(this.value=='Your message')this.value=''">Your message</textarea>
							<div class="clear"></div>
						</div>

						<input class="submit_buttom" type="submit" value="Submit">
					</div>
					</form>

				</div><!--response-->
		</div><!--row-->
	</div>
</div>
<!-- *** CONTACT END *** -->

<script type="text/javascript">
    var disqus_shortname = 'petegames';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>