<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>
        {% if page.title != "Home" %}
        {{ page.title }} |
        {% endif %}
        Pete Michaud's Game Development Portfolio &amp; Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    {% stylesheet _site %}

</head>

<body id="home">

<div id="top"></div>

<div id="header">
    <div class="responsive_nav white_lines">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="mobileAreaMenu">
                        <ul>
                            <li><a href="#top">Home</a></li>
                            <li><a href="#about_us">About</a></li>
                            <li><a href="#skills">Skills</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact">Hire Me</a></li>
                        </ul>
                    </div><!--mobileAreaMenu-->
                </div><!--span12-->
            </div><!--row-->
        </div>
    </div><!--responsive_nav-->


    <div class="row-fluid">
        <div class="logo_container">
            <a href="#top"><div id="logo"><img src="/assets/images/logo.png" alt=""></div></a>
        </div>
        <a href="#responsive_nav" class="menu_trigger"><i class="fa_icon icon-reorder icon-2x"></i></a>

        <div class="main_nav">
            <ul>
                <li class="active"><a href="#top">Home</a></li>
                <li><a href="#about_us">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Hire Me</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div><!--row-fluid-->
</div><!--header-->

{{ content }}

<!-- *** TWEET FEED START *** -->
<!--<div id="tweet_feed">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="span12">-->
                <!--<div id="twitterfeed"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- *** TWEET FEED END *** -->

<!-- *** FOOTER START *** -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h3>About me</h3>
                Pete Michaud is a plucky polymath living and working in sunny Austin, Texas, where the weather is hot,
                and the people are hotter.
                <ul class="social_links_footer">
                    <li><a href="#"><i class="fa_icon icon-pinterest icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-skype icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-twitter icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-dribbble icon-2x"></i></a></li>

                </ul>
                <div class="clear"></div>
            </div>
            <div class="span3">
                <h3>Contact</h3>
                <p>Email: me@petermichaud.com</p>
                <p>Phone: 0292 1209</p>
                <p>Facebook: </p>
                <p>Github: /PeteMichaud</p>
            </div>
            <div class="span3">
                <h3>Other Sites</h3>
                <p>Pete.is</p>
                <p>PeterMichaud.com</p>
                <p>PeteArt.com</p>
            </div>
            <a class="map"
               href="https://maps.google.com/maps?q=Envato%20Pty%20Ltd,%20Elizabeth%20Street,%20Melbourne,%20Victoria,%20Australia"
               target="_blank"
               title="Map">
                <div id="map_google"></div>
                <div class="clear"></div>
            </a>

        </div>
    </div>
</div>
<!-- *** FOOTER END *** -->



<div class="loading_icon"></div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" ></script>
{% javascript _site %}

</body>
</html>