---
layout: default
---
<!-- *** BLOG START *** -->
<div id="blog" class="section gray blog_post">
<div class="container">
<div class="row">
<div class="divider"></div>
<div class="span8">
    <h1 class="page_title small"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <h2 class="page_subtitle">{{ page.subtitle }}</h2>
    <div class="page_line"></div>
</div><!--span12-->

<div class="clear"></div>
<div class="divider blog"></div>

<div class="span8">

    <div class="blog-item">
        {% if page.hero_image %}
        <img src="{{ site.blog_image_path }}{{ page.hero_image }}" alt="{{ page.title }}" class="blog_hero" />
        {% endif %}
        <div class="blog-body">
            <div class="the-author-img">
                <img src="/assets/images/author.png" alt="Pete Michaud">
            </div>
            {{ content }}
            <div class="metas">
                <div class="the-date"><a href="{{ post.url }}"><span class="calendar gray icon"></span>{{ page.date | date: "%B %d, %Y" }}</a></div>
                <div class="clear"></div>
            </div><!--metas-->
        </div>
    </div><!--blog-item-->



    <section id="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'petegames';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the comments.</noscript>
    </section>


</div><!--span8-->

<div class="span4 ">
    <!-- *** SIDEBAR START *** -->
    <div class="five columns">
        <div class="sidebar">

            <div class="widget categories">
                <h3>Categories</h3>
                <ul>
                    {% for cat in site.categories %}
                    <li><a href="{{ site.category_dir }}{{ cat[0] }}">{{ cat[0] | humanize }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- end categories -->

        </div><!--end sidebar-->
    </div><!-- end five columns -->
    <!-- *** SIDEBAR END *** -->

</div>

</div><!--row-->
<div class="row">
    <div class="span8">
        <div class="hire_pitch">
            <h1>I'm Looking for a Great Team</h1>
            <p>
                Think I might be a good addition to your gamedev team?<br />
                <a href="/#about_us">Find out more about me</a>, or <a href="/#contact">drop me a line</a>!
            </p>
        </div>
    </div>
</div>
</div><!--container-->
</div><!--blog-->
<!-- *** BLOG END *** -->